a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

#opaqueLayer {
  position:absolute;
  width:640px;
  height:360px;
}

.App {
  display: flex;
  justify-content: center;
}

.questionContainer {
  margin-top: 10px;
  min-height: 100px;
  padding: 10px;
  background-color: #EEE;
  border-radius: 5px;
  display: flex;
}

.questionPlaceholder {
  margin: auto;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.instructionsText {
  max-width: 700px;
  width: inherit;
}

.navigationButton {
  border-radius: 5%;
  background-color: #f1f1f1;
  color: black;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

